  <div class="card mb-3 shadow-sm">
    <% comments.each do |comment| %>
      <%= render comment %>
    <% end %>
    <div>
      <%= paginate comments %> <!-- Kaminari pagination links -->
    </div> 
  </div>   
  
  


  <div>
    <%= render "comments/new", post: post %>
  </div>

 



