<div id="<%= dom_id post %>">
  <div>
    <strong> <%= post.title %></strong>
  </div>

 <div>
    <strong>Content:</strong>
    <br/>
    <%# Use the rich_text_area tag helper logic by simply outputting the object %>
    <div class="trix-content">
      <%= post.content %>
    </div>
  </div>
    <br/>
    <strong>User_id:</strong>
    <%= post.user_id %>
  </div>


</div>
