<div id="<%= dom_id post %>">
  <div>
    <strong> <%= post.title %></strong>
  </div>

  <div>
    <strong>Content:</strong>
    <br/>
    <%= post.content.body.to_s.html_safe %>
  <div>
    <br/>
    <strong>User_id:</strong>
    <%= post.user_id %>
  </div>


</div>
